@page "/databinding/c"

<Summary>Data binding (explicit onChange + OnkeyPress)</Summary>

<div>
  OnChange:
  (solo value=@@propiedad):
  <input value="@StringOnChange" />
  (@@onchange= ...)
  <input value="@StringOnChange" @onchange="@((ChangeEventArgs __e) => StringOnChange = __e.Value.ToString())" />

  <p>
    Valor actual: @StringOnChange
  </p>

  <div>
    <button @onclick="MostrarValorActual">Mostrar valor actual</button>
    <span>@valorActual</span>
  </div>
</div>
<br />
<div>
  OnKeyPress:
  <input value="@StringOnKeyPress" @onkeypress="@(OnKeyPress)" @onchange="@((ChangeEventArgs __e) => StringOnKeyPress = __e.Value.ToString())" />

  <p>
    OnKeyPress: @StringOnKeyPress (@CantKeyPress)
  </p>
</div>
@code {
  private string StringOnChange = "";

  private int CantKeyPress = 0;
  private string StringOnKeyPress = "";

  void OnKeyPress(KeyboardEventArgs e)
  {
    CantKeyPress++;
  }

  private string valorActual = "";
  void MostrarValorActual()
  {
    valorActual = $"valor actual :'{StringOnChange}'";
  }
}

