@page "/inputradio-simple"
@using BasicConcepts.Shared

<Summary>Checkbox: Toggle</Summary>
<input id="chkSimple" type="checkbox" @onchange="@(()=> isToShow = !isToShow)" /> 
@if (isToShow)
{
    <label style="color:red" for="chkSimple">Chequeado</label>
}
else
{
    <label style="color:black" for="chkSimple">No chequeado</label>
}

<Summary>Checkbox: Toggle (with binding)</Summary>
<input id="chkBinding" type="checkbox" @bind="isToShow" /> <label for="chkBinding"> (Enlazado por data binding)</label>

<div>
  <h4> Selected - @selectedAnswer </h4>
  @foreach (var item in lista)
  {
    <div>
      <input type="radio" name="question1" id="@item.Id" value="@item.Id" @onchange="SelectionChanged" />
      <label for="@item.Id">@item.Name</label>
    </div>
  }
</div>

@code {
    bool isToShow = false;

  string selectedAnswer = "";
  void SelectionChanged(ChangeEventArgs args)
  {
    selectedAnswer = args.Value.ToString();
  }

  List<SimpleLocalCombo> lista = new List<SimpleLocalCombo> {
    new SimpleLocalCombo() { Id =1, Name = "uno" },
    new SimpleLocalCombo() { Id = 2 , Name = "dos" }
  };

  public class SimpleLocalCombo
  {
    public int Id { get; set; }
    public string Name { get; set; }
  }
}
